body {text-align: center; background-color:#336699;}

p {margin:0 auto; text-align: center; padding-top: 3px; color: #800000 ; font-size:18px;}


.topBanner{
	margin-left: 125px; 
	width:80%; height:32px; 
	padding-top:3px; 
	background:#F2F468; 
	border:1px solid #800000; 
	border-radius: 9px;}

.topbanner p { text-align: right; }

.form1{
	margin-left: 450px; 
	width:600px; height:10px;  
	margin-top: -20px;}

.button {
	border:1px #336699; 
	color:#F2F468; 
	font:14px solid; 
	background: #34888C; 
	border-radius: 5px;}

.canvasDiv{
	margin-left: 125px; 
	margin-top:10px; 
	width:80%; height:450px; 
	display: block; 
	background:#F5F5DC; 
	border:1px solid #800000; 
	border-radius: 9px;}

#mapCanvas{padding-top: 1px; padding-bottom: 1px; margin-top: 5px;}

.bottomBanner{
	margin-top: 10px;
	margin-left: 125px; 
	width:80%; height:32px; 
	padding-top:3px; 
	background:#F2F468; 
	border:1px solid #800000; 
	border-radius: 9px;}

.bottomBanner p{ display: inline-block; }

.table {
	margin-top: 10px; 
	margin-left: 125px;
	width: 80%; height: 25px; 
	background:#F2F468; 
	padding-top:20px;
	padding-bottom: 20px; 
	border:1px solid  #800000; 
	border-radius: 9px; 
	display: table;}

#table, th, td
{
    margin:0 auto; 
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
    text-align: center;
    
}

